.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #fff;
  }
  
  .flip-card-back {
    background-color: #f7f7f7;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .flip-card-back h1 {
    margin-top: 0;
  }
  
  .flip-card-back p {
    margin-bottom: 10px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col-md-4 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  
  .heading{
    color:rgb(255, 55, 0)
  }

  .heading{
    color:rgb(255, 55, 0);
    font-size: 30px;
  }

  .para{
    font-weight: 300;
    font-size: 20px;
  }